<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()"> 
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-edit-acc [acc]="acc" *ngIf="ActivateAddEditProjComp && modalType"></app-add-edit-acc>
                <app-add-role [acc]="acc" *ngIf="!modalType"></app-add-role>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of AccountsList">
            <td>{{dataItem.UserId}}</td>
            <td>{{dataItem.Name}}</td>
            <td>{{dataItem.Email}}</td>
            <div>
                <button class="m-1 btn btn-light btn-outline-primary" Button *ngIf="userRole !== undefined && userRole.includes('admin')" data-toggle="modal" data-target="#exampleModal" (click)="roleClick(dataItem)">
                    Add to role
                </button>
                <button class="m-1 btn btn-light btn-outline-danger" Button *ngIf="userRole !== undefined && userRole.includes('admin')" (click)="delClick(dataItem)">
                    Delete
                </button>
                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="addClick(dataItem)">
                    Give new Task
                </button>
            </div>
        </tr>
    </tbody>
</table>

